@import '$lib/styles/fonts/poppins.postcss';
@import '@fontsource-variable/sora';
@import '@fontsource-variable/readex-pro';

html {
	font-size: 4px;
}

body {
	font-size: 4rem;
	/* font-family: 'Poppins', sans-serif; */
	/* font-family: 'Sora Variable', sans-serif; */
	font-family: 'Readex Pro Variable', sans-serif;
	font-weight: 200;
	color: rgba(0, 0, 0, 0.85);
}
